lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

.idea
.DS_Store
atlassian-ide-plugin.xml

npm-debug.log

bower_components
node_modules
server/node_modules
static/node_modules
static/vendors
static/.enb/tmp
static/desktop.bundles/*/*
!static/desktop.bundles/*/blocks
!static/desktop.bundles/*/*.bemjson.js
!static/desktop.bundles/*/*.bemdecl.js

custom-control.html